* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider {
    height: 100vh;
    width: 400vw;
    background-color: black;
    display: relative;
}

.slider-container {
    overflow: hidden;
}

.slide {
    position: absolute;
/* width: 20%;
height: 20%; */
}