* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.slider-container {
width: 49%;
margin: auto;
/* border: 5px solid black; */
overflow: hidden;

}


.slider {
    display: flex;

    height: 500px;
   width: 100%;
}



.slide {
    /* height: 100%; */
    width: 100%;
    /* position: absolute; */
    transition: transform 0.8s linear;

}

/* .img-1 {
    transform: translateX(1000px);
} */

.icon:hover {
 cursor: pointer;
}