* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/* overflow: hidden; */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-container {
	width: 49%;
	margin: auto;
	overflow: hidden;
}

.slider {
	display: flex;
	height: 500px;
	width: 100%;
}

.slide {
	/* height: 100%; */
	width: 100%;
	/* position: absolute; */
	transition: transform 0.5s linear;
}

.icon:hover,
.icon-nav:hover {
	cursor: pointer;
	color: lightslategrey;
}

.icon {
	position: absolute;
	top: 50%;
}

.material-symbols-outlined.icon {
	font-size: 3rem;
}

.icon-prev {
	left: 1rem;
}
.icon-next {
	right: 1rem;
}

.slider-nav {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10%;
}
